{% extends "jobs/base.html" %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Ben Clingenpeel</h1>
        <p class="lead text-body-secondary">This is a test website made with Django using a Bootstrap template.</p>
        <p>
          <a href="mailto:benclingenpeel@gmail.com" class="btn btn-primary my-2">Email me!</a>
          <a href="{% url 'birds' %}" class="btn btn-primary my-2">See some birds!</a>
        </p>
        
      </div>
    </div>
  </section>

  <p>I'm going to test $\LaTeX$ rendering here: \[ \int_{-\infty}^\infty e^{-x^2} \, dx = \sqrt{\pi}
  \qquad \qquad \text{test} \qquad \qquad \int_{-\infty}^\infty e^{-x^2} \, dx = \sqrt{\pi}
  \qquad \qquad \text{test} \qquad \qquad \int_{-\infty}^\infty e^{-x^2} \, dx = \sqrt{\pi}
  \qquad \qquad \text{test} \qquad \qquad \int_{-\infty}^\infty e^{-x^2} \, dx = \sqrt{\pi}
  \qquad \qquad \text{test} \qquad \qquad \int_{-\infty}^\infty e^{-x^2} \, dx = \sqrt{\pi}
  \qquad \qquad \text{test} \qquad \qquad  \]</p>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      	{% for job in jobs.all %}

        <div class="col">
          <a href="{% url 'detail' job.id %}">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ job.image.url }}">
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
      	  </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

{% endblock content %}
